<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Mac Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-08-11T02:32:05Z</date>
	<key>dataHash</key>
	<string>6fbb7d0bdfd322dd292fdfaf2957a1bbe7ca75a0</string>
	<key>displayName</key>
	<string>Xcode color themes</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>xcode color themes</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-08-11T02:32:18Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>1f2b0e5e-72de-4a48-94cc-f4f6f4e56907</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
